@model Axiom.Entity.LoginUserEntity
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Axiom | Login</title>
    <!-- Global stylesheets -->
    @Styles.Render("~/Content/css")
    <!-- /global stylesheets -->
    @Scripts.Render("~/bundles/Common")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/JS/Enums.js"></script>
</head>
<body class="login-container">
  
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">

                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @class = "" }))
                { 
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="border-slate-300 text-slate-300">
                            <img src="@ProjectSession.CompanyUserDetail.ImagePath" />
                        </div>
                        <h5 class="content-group"><b>Get Your Password </b><small class="display-block"></small></h5>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Msg))
                    {
                        <div class="form-group has-feedback has-feedback-left text-center">
                            <label class="text-danger">@Model.Msg</label>
                        </div>
                    }
                    <div class="form-group has-feedback has-feedback-left">
                        @Html.TextBoxFor(m => m.Email, new { @maxlength = "256", @type = "email", placeholder = "Email Address", @class = "form-control cls-login-input", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Email)
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block cls-login-input">Get Password<i class="icon-circle-right2 position-right"></i></button>
                    </div>
                    <div class="text-center">
                        <a href="@Url.Action("Index","Login")">Back To Login</a>
                    </div>
                </div>
                }

            </div>

         
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
   
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-muted text-center">
        &copy; 2019. <img src="~/assets/images/axiomGroupLogoBottom.png"/>
    </div>
    <!-- /footer -->
</body>
</html>

